<!-- Things that work interpolation -->

<!-- <h2>Welcome {{name}}</h2>
<h2>{{2+2}}</h2>
<h2>{{"Welcome "+ name}}</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>
<h2>{{greetUser()}}</h2>
<h2>{{siteUrl}}</h2> -->

<!-- things that dont -->

<!-- <h2>{{a=2+2}}</h2> -->
<!-- <h2>{{window.location.href}}</h2> -->
<!-- <input type="text" value="Vishwas"> -->

<!-- --------------------------------------------------------------------------------------------------- -->

<!-- diff b/w property and attribute -->

<!-- Attributes and properties are not the same. Attributes remain 
same where as properties keep changing
$0.getAttribute('value') returns Vishwas where as $0.value returns Sreeram -->

<!-- --------------------------------------------------------------------------------------------------- -->

<!-- property binding -->

<!-- <input [disabled]="isDisabled" [id]="myId" type="text" value="PropertyBinding"> -->

 <!-- --------------------------------------------------------------------------------------------------- -->
 
 <!-- class binding -->

 <!-- <h2>Welcome {{name}}</h2>
 <h2 [class]="successClass" class="text-special">Sample text here</h2>
 <h2 [class.text-danger]="hasError">testing if theres error or no</h2>
 <h2 [ngClass]="messageClasses">testing on sample text here</h2> -->

 <!-- --------------------------------------------------------------------------------------------------- -->

 <!-- Style Binding -->

 <!-- <h2 [style.color]="hasError?'red':'green'">testing if error or no</h2>
 <h2 [ngStyle]="titleStyles">Style Binding Using ngStyle Directive</h2> -->

 <!-- --------------------------------------------------------------------------------------------------- -->

 <!-- Event Binding -->

 <!-- <button (click)="onclick($event)">Greet</button> 
 <button (click)="greeting='Welcome Sreeram'">Greet2</button>

 {{greeting}} -->
<!-- --------------------------------------------------------------------------------------------------- -->

<!-- Structural Directives -->
 <!-- ngIf, ngSwitch, ngFor -->

<!-- <div *ngIf="isDisabled; then thenBlock; else elseBlock">
    
</div>

<ng-template #thenBlock>
    <h2>
        Sreeram
    </h2>
</ng-template>

<ng-template #elseBlock>
    <h2>
        Name is Hidden
    </h2>
</ng-template> -->

<!-- --------------------------------------------------------------------------------------------------- -->

<!-- ngSwitch -->

<!-- <div [ngSwitch] = "color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
    <div *ngSwitchDefault>Pick again</div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------- -->

<!-- ngFor -->

<!-- <div *ngFor = "let color of colors; index as i ">
    <h2>{{i}} {{color}}</h2>
</div> -->

<!-- --------------------------------------------------------------------------------------------------- -->

<!-- Component Interaction -->

<h2>{{"Hello "+name}}</h2>

<button (click)="fireEvent()"> Send event</button>